#Contenido 
{
	margin-left: 40%;
	padding-top: 3%;
}
#tablaTomarHora
{
	border: 1px solid black;
	width: 60%;
}
#tablaTomarHora tr td
{
	border: 1px solid black;
}
.encabezado
{
	width: 18%;
}
button
{
	width: 65% !important;
	margin-left: 18% !important;
}
#txtFecha
{
	width: 94%;
}
#txtHora
{
	width: 94%;
}
#selectDentista
{
	width: 96%;
}