#Contenido
{
	margin-left: 37%;

}
#txtBuscaTratamiento
{
	width: 43%;
}
#btnBuscar, #btnAgregarTratamiento
{
	width: 9% !important;
	margin-left: 0% !important;
}
#btnAgregarTratamiento
{
	width: 40% !important;
	margin-left: 0% !important;
}
#tablaListaPrecios
{
	width: 50%;
	border: 1px solid black;
}
#tablaListaPrecios tr td
{
	border: 1px solid black;
}
button
{
	width: 65% !important;
	margin-left: 14% !important;
}