#Contenido
{
	margin-left: 35%;
}
#btnBuscar
{
	width: 8% !important;
}
#tablaConfirmarHora
{
	border: 1px solid black;
}
#tablaConfirmarHora tr td
{
	border: 1px solid black;
}
#txtBuscar
{
	margin-left: 37%;
	width: 26%;
}
.tdNombre
{
	width: 30%;
}
.tdTelefono
{
	width: 20%;
}
.tdHora
{
	width: 10%;
}
.tdDentista
{
	width: 29%;
}
.btnOpcionesMenu
{
	width: 41% !important;
	margin-left: 7% !important;
}