#tablaAgregarTratamiento
{
	margin-left: 34%;
	border: 1px solid black;
	width: 40%;
}
#tablaAgregarTratamiento tr td
{
	
	border: 1px solid black;
}
#Contenido
{
	padding-top: 6%;
}
.tdNombre
{
	width: 33%;
}
button
{
	width: 60% !important;
	margin-left: 20% !important;
}
#txtPrecioTratamiento
{
	width: 95%;
}
#txtNomTratamiento
{
	width: 95%;
}